// Mixins in here

//apply this to get spectal font
.font () {
    font-family: 'Indie Flower', cursive;
}

//apply this to get navigation options underlined on hover
.hovnav () {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}