// Navigation Styles here


//very top navigation section with options
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 150px;
    border-bottom: 3px dashed grey;

    

    //fun bus logo
    h1 {
        align-self: flex-start;
        //mobile layout

    }

    //navigation menu
    nav a {
        font-size: 1.5em;
        margin: 30px;
        color: black;
        .hovnav
    }

}

//background image!
.picture {

    display: flex;
    justify-content: center;
    height: 300px;
    width: 800px;
    margin: 0 auto;
    background-image: url("/Users/voidchaser/Lambda/Preprocessing-II/img/fun-bus.jpg");
    background-size: 1000px 300px;
    background-attachment: fixed;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    border-radius: 0 0 10px 10px;

    p {
        visibility: hidden;
    }
}

//welcome to the fun bus text section
.welcome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 57%;
    margin: 0 auto 75px;
    padding: 20px 0 0 0;
    border-bottom: 2px dashed grey;
}